<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webcam Streaming</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <h1>Webcam Streaming</h1>
    <button id="toggle-stream">Start Stream</button>
    <div>
        <img id="video-feed" src="" style="display: none;">
    </div>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var isStreaming = false;

        document.getElementById("toggle-stream").addEventListener("click", function() {
            if (isStreaming) {
                stopStream();
            } else {
                startStream();
            }
        });

        function startStream() {
            document.getElementById("video-feed").src = "/video_feed";
            document.getElementById("video-feed").style.display = "block";
            document.getElementById("toggle-stream").innerText = "Stop Stream";
            isStreaming = true;
        }

        function stopStream() {
            document.getElementById("video-feed").src = "";
            document.getElementById("video-feed").style.display = "none";
            document.getElementById("toggle-stream").innerText = "Start Stream";
            isStreaming = false;
        }
    </script>
</body>
</html>
